body{
    width: 1140px;
    margin: 0 auto; /* used to center the body cause my pc screen is bigger then 1440px */
   background:#F8F8FF; /* used to see extra part  */
   

}

/* Shared items start */

.primary-button{
    font-family:raleway;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.hover-button:hover a{
    color: #3A36D8;
}
.hover-button:hover {
    background-color: White;
    color: #3A36D8;
    border: 2px solid #4E47FF;
    transition: all 0.2s linear;
}
/* Shared items end */

/* Header start */
header{
    width: 1440px;
    height: 698px;
    background-image: url('Assets/Hero-bg.png') ;
    background-size: 1440px 698px ;
    margin: auto;
}
nav{
    width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
}
.nav-logo{
    font-family: inter;
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}
.nav-button{
    width: 132px;
    height: 48px;
}
.nav-button a{
    text-decoration: none;
    color: #FFFFFF;   
}
.header-banner{
    width: 905px;
    height: 237px;
    margin: auto;
    margin-top: 150px;
}
.header-banner h1{
    font-family:raleway;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}
.header-button{
    margin:auto;
    height: 48px;
    width: 174px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-button a {
    text-decoration: none;
    color: #FFFFFF;   
}
/* Header end */

/* Action Section start */
.Action-Section{
    width: 1440px;
    height: 328px;
    margin: 0 auto;   
    background:#F8F8FF;
}
.Action-Section-Container{
    width: 1140px;
    height: 328px;
    margin: 116px auto; 
    display: flex;
    justify-content: space-between;
}
.Action-description{
    width: 517px;
    height: 203px;
    margin: 62.5px 0px;
}
.Action-description h1{
    margin: 0px;;
    font-family: raleway;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.Action-description p{
    font-family: raleway;
    font-size: 24px;
    font-weight: regular;
    color: rgba(37, 36, 50, .5);
}
.Action-button{
    width:239;
    height:48px;    
}
.Action-button a{
    text-decoration: none;
    color: #FFFFFF;   
    margin: 12px 36px;    
}
.Action-img{
    width: 403px;
    height: 328px;
    border: none;
    border-radius: 48px;
}
/* Action Section end */


/* Productive Section start */
.Productive-section{
    width: 1440px;
    height:306px;
    margin: 0 auto;   
    background:#F8F8FF;  
}
.Productive-container{
    width:1140px;
    height: 306px;
    margin: auto;
    margin-top: 116px;
    padding: 50px 0px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius:24px;
}
.Productive-content{
    width: 856px;
    height: 206px;
    margin:50px  auto;
}
.Productive-content h1{
    font-family: raleway;
    font-size: 32px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
}
.Productive-items{
    width: 856px;
    height: 121px;
    display: flex;
    justify-content: space-around;
}
.Productive-item{
    width: 180px;
    height: 121px;
}
.Productive-item h1 {
    text-align: center;
    font-family: inter;
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin:0px;
}
.Productive-item p {
    font-family: inter;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin:0px;
    text-align: center;
}
/* Productive Section end */

/* Review Section Start */
.Review-section{
    width: 1440px;
    height:306px;
    margin: 0 auto;   
    background:#F8F8FF;  
}
.Review-container{
    width:1140px;
    height: 306px;
    margin: auto;
    margin-top: 137px;
}
.Review-container h1{
    font-family: raleway;
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
}
.Review-persons{
    width:1140px;
    height: 243px;
    display: flex;
    justify-content: space-around;
}
.review-person{
    width:320px;
    height:243px;
    border:2px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
}
.star-img{
    width:116px;
    height: 20px;
    color: rgba(255, 184, 5, 1);
}
.star-img img{
    width: 20px;
    height: 20px;
}
.review-person h3{
    font-family:raleway;
    font-size: 20px;
    font-weight: bold;
}
.review-person p{
    font-family:raleway;
    font-size:16px;
    font-weight:normal;
    color: rgba(0, 0, 0, 1);
}
.review-person-container{
    width: 318.67px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.review-person-img{
    width: 40px;
    height: 40px;
}
.review-person-img img{
    border-radius: 100%;
}
.review-person-description{
    margin:0px 0px;
    width: 295px;
    height: 40px;
}
.review-person-description h5{
    margin:0;
    margin-top: 5px;
    font-family: raleway;
    font-size: 14px;
    font-weight: bold;
     color: rgba(0, 0, 0, .5);
}
.review-person-description p{
    margin:0;
     margin-top: 2px;
    font-family: raleway;
    font-size:12px;
    font-weight: normal;
     color: rgba(0, 0, 0, .4);
}
/* Review Section end */

/* Focus Section start */
.focus{
    width: 1440px;
    height: 696.77px;
    margin: 0 auto;   
    background:#F8F8FF;  
}
.focus-container{
    width: 1140px;
    height: 696.77px;
    margin: auto;
    margin-top: 137px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 14px;
    text-align: center;
}
.focus h1{
    font-family: raleway;
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 15px;
}
.focus p{
    font-family: inter;
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin:0px;
    text-align: center;
}
.focus-img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 10px;
}
.focus-button{
    display: block;
    padding: 12px 36px;
    margin: 15px auto;
}
.focus-button a{
    text-decoration: none;
    color: #FFFFFF;     
}
/* Focus Section end */

/* Newsletter Section start */
.newsletter{
    width: 1440px;
    height: 632px;
    margin: 0 auto;   
    background:#F8F8FF;  
}
.newsletter-container{
    width: 1140px;
    height: 632px;
    margin: auto;
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
}
.newsletter-text{
     width: 528px;
    height: 232px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.newsletter-text h1{
    font-family: raleway;
    font-size: 97px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);  
    margin-top: 0px;
}
.newsletter-form{
    width: 497px;
    height: 490px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.newsletter-form label{
    font-family: inter;
    font-size: 18px;
    font-weight: medium;
    color: rgba(37, 36, 50, 1);
    display: block; 
}
.newsletter-form input{
    font-family: inter;
    font-size:20px;
    font-weight: regular;
    color: rgba(37, 36, 50, .5);
    display: block;
    margin:10px 0px;
    padding-left: 32px ;
    height: 70px;
    width:465px;
    border: 1px solid rgba(214, 221, 237, 1);
    border-radius: 10px;
}
.newsletter-form textarea{
    font-family: inter;
    font-size:20px;
    font-weight: regular;
    color: rgba(37, 36, 50, .5);
    display: block;
    margin:10px 0px;
    padding-left:32px;
    padding-top: 20px;
    height: 135px;
    width:465px;
    border: 1px solid rgba(214, 221, 237, 1);
    border-radius: 10px;
    resize: none;
}
.newsletter-form-button{
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
    height: 62px;
    width: 501px;
    border-radius: 10px;  
    margin-top: 10px;
}
.newsletter-form-button a{
   text-decoration: none;
   color: white;
}
/* Newsletter Section end */

/* Footer Section start */
footer{
    width: 1440px;
    height: 428px;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-container{
    width: 531px;
    height: 221px;
    margin: 104px auto;
}
.footer-logo{
    font-family: inter;
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
}
.footer-container p{
    font-family: raleway;
    font-size: 16px;
    font-weight: normal;
    color: rgba(137, 135, 161, 1);
    text-align: center;
}
.footer-links{
    width: 401px;
    height: 24px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-links li{
    display: inline;
    list-style: none; 
}
.footer-links a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    font-family: inter;
    font-size: 14px;
    font-weight: small;
    margin-right: 20px;
}
/* Footer Section end */
